.creatives-list {
    &__header {
        .v-expansion-panel-header__icon {
            align-items: center;
        }
        &.is-active {
            background-color: #02859a !important;
        }
    }

    .creative-form {
        .type-input {
            &.v-input.theme--light.v-input--selection-controls.v-input--switch div {
                color: #3949AB;
            }
        }

        .extra-pixels {
            background-color: #FFFFFF;

            .pixel {
                border: 1px dashed #E3E3E3;
                margin: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
}