.tag-generator__container {
    .toolbar {
        .hidden-input {
            position: absolute;
            top: 0px;
            display: none;
        }
    }
    &__content {
        overflow: auto;
        max-height: 640px;
        height: 620px;

        .stepper-row {
            height: 600px;

            .v-stepper {
                height: 100%;

                &__items {
                    overflow: auto;
                    max-height: 520px;
                    height: 520px;
                    background-color: #e3e3e3;
                }

                &__step {
                    &.v-stepper__step--active {
                        span {
                            background-color: rgb(13, 170, 195) !important;
                        }

                    }
                }
            }
        }
    }

    .preview-card {
        overflow: hidden;
    }
}