.step3__content {
    .macros__container {
        max-height: 300px;
        height: 300px;
        overflow: auto;

        .v-list-item__content {
            background-color: #e8e8e8;
            margin: 3px 0px;
            border: 1px solid gray;
        }
    }
}