<template>
  <tag-generator />
</template>

<script>
  import TagGenerator from '../components/TagGenerator'

  export default {
    name: 'Home',

    components: {
      TagGenerator
    },
  }
</script>
