<template>
  <v-stepper-content :step="step" class="step3__content">
    <v-expansion-panels multiple hover>
      <v-expansion-panel v-for="(tpl, index) in templates" :key="index">
        <v-expansion-panel-header color="#0daac3" class="white--text">
          {{ tpl.name }}
          <template v-slot:actions>
            <v-icon color="white">mdi-chevron-down</v-icon>
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-container class="pa-0">
            <v-row class="col-12">
              <v-col class="d-flex align-center" cols="2">
                <p class="mb-0 text-subtitle-2">Tag ID:</p>
              </v-col>
              <v-col cols="3">
                <v-select
                  hide-details
                  :error="tpl.identifier.source === ''"
                  label="Data Source"
                  v-model="tpl.identifier.source"
                  @change="tpl.identifier.sourceKey = ''"
                  append-icon="mdi-chevron-down"
                  :items="sources"
                  item-text="name"
                  item-value="name"
                  outlined
                  dense
                >
                </v-select>
              </v-col>
              <v-col cols="3">
                <v-select
                  label="Source Column"
                  outlined
                  dense
                  hide-details
                  :items="getSourceColumns(tpl.identifier.source)"
                  v-model="tpl.identifier.sourceKey"
                  :disabled="tpl.identifier.source === ''"
                  :error="tpl.identifier.sourceKey === ''"
                  append-icon="mdi-chevron-down"
                >
                </v-select>
              </v-col>
            </v-row>
          </v-container>
          <v-card shaped class="my-1" height="400">
            <v-card-title class="blue-grey lighten-2 white--text">
              <div class="d-flex flex-row col-12 pa-0">
                <v-col class="d-flex align-center" cols="8">
                  <p class="d-flex align-center text-subtitle-1 mb-0">
                    Replace Values
                  </p>
                </v-col>
                <v-col
                  cols="4"
                  class="d-flex justify-space-around align-center"
                >
                  <v-btn
                    rounded
                    outlined
                    small
                    color="#FAFAFA"
                    @click="addMacro(index)"
                    >Add Macro</v-btn
                  >
                </v-col>
              </div>
            </v-card-title>
            <v-container class="macros__container" fluid>
              <template v-if="tpl.macros.length < 1">
                <v-card
                  outlined
                  shaped
                  color="#90A4AE"
                  class="d-flex align-center justify-center"
                  min-height="230"
                >
                  <p class="white--text font-weight-thin text-h3">
                    No macros listed
                  </p>
                </v-card>
              </template>
              <template v-else>
                <v-list-item
                  v-for="(macro, mi) in tpl.macros"
                  color="indigo"
                  :key="mi"
                >
                  <v-list-item-content>
                    <v-col cols="4">
                      <v-text-field
                        :value="macro.macroName"
                        v-model="macro.macroName"
                        :error="macro.macroName === ''"
                        label="Macro Value"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="2">
                      <p class="mb-0 text-subtitle-2">
                        Replace With
                        <v-icon color="#000">mdi-swap-horizontal</v-icon>
                      </p>
                    </v-col>
                    <v-col cols="6">
                      <v-row class="cols-12">
                        <v-col cols="4">
                          <v-select
                            :error="macro.replaceWith.sourceName === ''"
                            label="Data Source"
                            v-model="macro.replaceWith.sourceName"
                            append-icon="mdi-chevron-down"
                            :items="sources"
                            item-text="name"
                            item-value="name"
                          >
                          </v-select>
                        </v-col>
                        <v-col cols="5">
                          <v-select
                            label="Source Column"
                            :items="getSourceColumns(macro.replaceWith.sourceName)"
                            v-model="macro.replaceWith.sourceKey"
                            :disabled="macro.replaceWith.sourceName === ''"
                            :error="macro.replaceWith.sourceKey === ''"
                            append-icon="mdi-chevron-down"
                          >
                          </v-select>
                        </v-col>
                        <v-col class="d-flex align-center" cols="2">
                          <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                icon
                                x-small
                                outlined
                                color="error"
                                v-on="on"
                                v-bind="attrs"
                                @click="removeMacro(index, mi)"
                              >
                                <v-icon color="error">mdi-minus</v-icon>
                              </v-btn>
                            </template>
                            <span>Remove Macro</span>
                          </v-tooltip>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-container>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-stepper-content>
</template>
<script>
export default {
  name: "Step3",

  props: ["step"],

  data: () => ({
    macrosList: [],
  }),

  methods: {
    addMacro(index) {
      this.$store.dispatch("templates/addMacro", index);
    },

    removeMacro(tplIndex, macroIndex) {
      this.$store.dispatch("templates/removeMacro", {
        tplIndex,
        macroIndex,
      });
    },

    getSourceColumns(sourceName) {
      if (sourceName !== "") {
        const sourceFound = this.sources.find((src) => {
          return src.name === sourceName;
        });
        if (sourceFound) {
          return Object.keys(sourceFound.data[0]);
        }
        return [];

      }
      return [];
    },
  },

  computed: {
    sources() {
      return this.$store.getters["sources/sources"];
    },

    templates() {
      return this.$store.getters["templates/templates"];
    },
  },
};
</script>
