<template>
  <v-stepper-content :step="step">
    <fullscreen-editor
      :isVisible="isFullscreen"
      :template="fullscreenTemplate"
      @onExitFullscreen="isFullscreen = false"
    />
    <template v-if="templates.length < 1">
      <v-card
        outlined
        shaped
        color="#90A4AE"
        class="d-flex align-center justify-center"
        min-height="480"
      >
        <p class="white--text font-weight-thin text-h3">No templates added</p>
      </v-card>
    </template>
    <template v-else>
      <v-expansion-panels
        v-model="panels"
        hover
        multiple
        class="templates-list"
      >
        <v-expansion-panel v-for="(template, i) in templates" :key="i">
          <v-expansion-panel-header
            disable-icon-rotate
            :class="{
              'creatives-list__header white--text': true,
              'is-active': false,
            }"
            color="#0daac3"
          >
            {{ template.name.length > 0 ? template.name : "Template Name" }}
            <template v-slot:actions>
              <v-icon color="white">{{ getIcon(i) }}</v-icon>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    @click="removeTemplate($event, i)"
                    small
                    icon
                    :ripple="false"
                    v-on="on"
                    v-bind="attrs"
                  >
                    <v-icon color="error">mdi-minus</v-icon>
                  </v-btn>
                </template>
                <span>Remove</span>
              </v-tooltip>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn x-small icon :ripple="false" v-on="on" v-bind="attrs">
                    <v-icon class="light-green--text text--lighten-2"
                      >mdi-content-copy</v-icon
                    >
                  </v-btn>
                </template>
                <span>Clone</span>
              </v-tooltip>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    small
                    icon
                    :ripple="false"
                    v-on="on"
                    v-bind="attrs"
                    @click="toggleFullscreen($event, template, i)"
                  >
                    <v-icon class="indigo--text text--darken-1"
                      >mdi-fullscreen</v-icon
                    >
                  </v-btn>
                </template>
                <span>Fullscreen</span>
              </v-tooltip>
            </template>
          </v-expansion-panel-header>
          <v-expansion-panel-content color="#E3E3E3">
            <v-container>
              <v-form
                ref="templateForm"
                @input="checkInput"
                class="creative-form"
              >
                <v-row cols="12" class="d-flex justify-space-around">
                  <v-col cols="8">
                    <v-text-field
                      label="Template Name"
                      required
                      :rules="[rules.required]"
                      v-model="template.name"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="3">
                    <v-select
                      append-icon="mdi-chevron-down"
                      @change="onSelectPrefav($event, i)"
                      label="Select Prefav"
                      :items="prefavsItems"
                      item-value="value"
                      item-text="label"
                      :value="template.prefav"
                    >
                    </v-select>
                  </v-col>
                </v-row>
                <v-row cols="12">
                  <v-col cols="12">
                    <v-ace-editor
                      v-model="template.content"
                      theme="monokai"
                      lang="html"
                      width="100%"
                      height="200"
                    ></v-ace-editor>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </template>
  </v-stepper-content>
</template>
<script>
import * as VAceEditor from "vue2-ace-editor";
import FullscreenEditor from "../FullscreenEditor.vue";

import "brace/mode/html";
import "brace/theme/monokai";

export default {
  name: "Step1",

  props: ["step", "templates"],

  data: (vm) => ({
    panels: vm.expandAll(),
    rules: {
      required: (value) => !!value || "Required",
    },
    isFullscreen: false,
    fullscreenTemplate: {},
  }),

  methods: {
    toggleFullscreen(evt, { name, content }, tplIndex) {
      evt.stopPropagation();
      this.fullscreenTemplate = {
        name,
        content,
        index: tplIndex,
      };
      this.isFullscreen = true;
    },

    onSelectPrefav(val, index) {
      const payload = {
        selected: val,
        templateIndex: index,
      };
      this.$store.dispatch("templates/selectPrefav", payload);
    },

    removeTemplate(evt, index) {
      evt.stopPropagation();
      this.$store.dispatch("templates/removeSingle", index);
    },

    getIcon(index) {
      const found = this.panels.find((p) => {
        return p == index;
      });

      return typeof found === "undefined"
        ? "mdi-chevron-up"
        : "mdi-chevron-down";
    },

    expandAll() {
      const p = [];
      [...this.templates].forEach((t, index) => {
        p.push(index);
      });
      return p;
    },

    checkInput(v) {
      let count = 0;
      if (this.$refs.templateForm) {
        if (v) {
          this.$refs.templateForm.forEach((form) => {
            form.validate() ? count++ : (count += 0);
          });
          if (count === this.$refs.templateForm.length) {
            this.$emit("blockNext", true);
          }
        } else {
          this.$emit("blockNext", false);
        }
      }
    },
  },

  computed: {
    prefavsItems() {
      return this.$store.getters["templates/prefavs"];
    },
  },

  components: {
    VAceEditor,
    FullscreenEditor,
  },
};
</script>
