<template>
  <v-stepper-content :step="step" class="step2__content">
    <template v-if="sources.length < 1">
      <v-card
        outlined
        shaped
        color="#90A4AE"
        class="d-flex align-center justify-center"
        min-height="480"
      >
        <p class="white--text font-weight-thin text-h3">No sources found</p>
      </v-card>
    </template>
    <v-expansion-panels v-else class="templates-list" hover multiple>
      <v-expansion-panel v-for="(source, i) in sources" :key="i">
        <v-expansion-panel-header color="#0daac3" class="white--text">
          {{ source.name }}
          <template v-slot:actions>
            <v-icon color="white">mdi-chevron-down</v-icon>
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-simple-table
            dark
            dense
            height="300"
            fixed-header
            :key="'table-' + i"
          >
            <template v-slot:default>
              <thead>
                <tr>
                  <th
                    v-for="(item, j) in Object.keys(source.data[0])"
                    :key="j"
                  >
                    {{ item }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(record, r) in source.data" :key="r">
                  <td v-for="(item, x) in Object.keys(source.data[0])" :key="x">
                    {{ record[item] }}
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-stepper-content>
</template>
<script>
export default {
  name: "Step2",
  props: ["step", "sources"],

  data: () => ({}),

  methods: {},

  computed: {},

  components: {},
};
</script>
