<template>
  <v-dialog v-model="isVisible" fullscreen persistent>
    <v-card height="100%">
      <v-card-title class="text-h5 cyan darken-2 white--text">
        {{ template.name }}
        <v-spacer></v-spacer>
        <v-btn outlined class="mx-2" color="white" @click="onSave">Save</v-btn>
        <v-btn @click="exitFullscreen" outlined class="mx-2" color="warning"
          >Exit</v-btn
        >
      </v-card-title>

      <v-ace-editor
        theme="monokai"
        ref="fullscreenEditor"
        lang="html"
        width="100%"
        height="95%"
        :value="template.content"
        @init="onEditorInit"
        :options="{
          wrap: true,
        }"
      ></v-ace-editor>
    </v-card>
  </v-dialog>
</template>
<script>
import * as VAceEditor from "vue2-ace-editor";
import "brace/mode/html";
import "brace/theme/monokai";
import "brace/ext/beautify";

export default {
  name: "FullscreenEditor",

  props: ["isVisible", "template"],

  data: () => ({}),

  watch: {
    isVisible(newVal, oldVal) {
      if (newVal) {
        if (typeof this.$refs.fullscreenEditor !== "undefined") {
          this.$refs.fullscreenEditor.editor.setValue(
            this.template.content,
            -1
          );
          this.$refs.fullscreenEditor.editor.focus();
        }
      }
      if (oldVal) {
        this.clearEditor();
      }
    },
  },

  methods: {
    onEditorInit() {},

    onSave() {
      const payload = {
        templateIndex: this.template.index,
        newMarkup: this.$refs.fullscreenEditor.editor.getValue(),
      };
      this.$store.dispatch("templates/updateSingleMarkup", payload).then(() => {
        this.exitFullscreen();
      });
    },
    exitFullscreen() {
      this.clearEditor();
      this.$emit("onExitFullscreen");
    },

    clearEditor() {
      if (this.$refs.fullscreenEditor) {
        this.$refs.fullscreenEditor.editor.setValue("");
      }
    },
  },

  components: {
    VAceEditor,
  },
};
</script>
