<template>
  <v-container class="tag-generator__container" fluid>
    <v-snackbar v-model="snackbar" multi-line top timeout="2000">
      Error loading file
      <template v-slot:action="{ attrs }">
        <v-btn color="red" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-row cols="12" class="justify-center">
      <v-col cols="10">
        <v-container>
          <v-card
            class="mx-auto d-flex flex-column justify-space-between"
            max-width="1080"
            min-height="700"
          >
            <v-toolbar class="toolbar col-12" color="#0daac3" dark>
              <v-toolbar-title>{{ stepLabel }} Settings</v-toolbar-title>

              <v-spacer></v-spacer>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    @click="addItem"
                    :disabled="currentStep != 1"
                    icon
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </template>
                <span>Add {{ stepLabel.toLowerCase() }}</span>
              </v-tooltip>
              <div class="hidden-input">
                <input
                  type="file"
                  accept=".csv, .xlsx, .xls"
                  @change="onFileUploaded"
                  multiple
                  ref="fileUploader"
                />
              </div>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    :disabled="currentStep != 2"
                    v-bind="attrs"
                    @click="handleFileUpload"
                    v-on="on"
                  >
                    <v-icon>mdi-upload</v-icon>
                  </v-btn>
                </template>
                <span>Import from file</span>
              </v-tooltip>
            </v-toolbar>
            <v-container class="tag-generator__container__content pt-0" fluid>
              <v-row dense class="stepper-row">
                <v-container>
                  <v-stepper v-model="currentStep">
                    <v-stepper-header>
                      <v-stepper-step step="1">Templates</v-stepper-step>
                      <v-divider></v-divider>
                      <v-stepper-step step="2">Sources</v-stepper-step>
                      <v-divider></v-divider>
                      <v-stepper-step step="3">Replacements</v-stepper-step>
                    </v-stepper-header>
                    <v-stepper-items>
                      <Step1
                        :step="'1'"
                        :templates="templates"
                        @blockNext="onBlockNext($event)"
                      />
                      <Step2 :step="'2'" :sources="sources" />
                      <Step3 :step="'3'" />
                    </v-stepper-items>
                  </v-stepper>
                </v-container>
              </v-row>
            </v-container>
            <v-card-actions class="d-flex justify-end">
              <v-btn
                filled
                color="error"
                :disabled="disableBack"
                @click="goBack"
                >Back</v-btn
              >
              <v-btn
                filled
                color="primary"
                :disabled="disableNext"
                @click="goNext"
                >Next</v-btn
              >
              <v-btn
                outlined
                color="primary"
                :disabled="finishReady"
                @click="generateTags"
                >Finish</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// components
import Step1 from "../components/steps/Step1.vue";
import Step2 from "../components/steps/Step2.vue";
import Step3 from "../components/steps/Step3.vue";
// resources
import utils from "../utils/utils";

// third-party packages
import { saveAs } from "file-saver";
import JSZIP from "jszip";

export default {
  name: "TagGenerator",

  data: () => ({
    currentStep: 1,
    shouldBlockNext: true,
    creativesList: [],
    enableCreate: false,
    snackbar: false,
  }),

  mounted() {},

  computed: {
    disableNext() {
      switch (this.currentStep) {
        case 1:
          if (this.templates.length > 0) {
            const found = this.templates.find((tpl) => {
              return tpl.content == "";
            });

            if (typeof found !== "undefined" || !this.shouldBlockNext) {
              return true;
            }
            return false;
          }
          return true;
        case 2:
          if (this.sources.length < 1) {
            return true;
          }
          return false;
        default:
          return true;
      }
    },

    disableBack() {
      if (this.currentStep > 1 && this.currentStep <= 3) {
        return false;
      }
      return true;
    },

    stepLabel() {
      switch (this.currentStep) {
        case 1:
          return "Templates";
        case 2:
          return "Sources";
        case 3:
          return "Finish";
        default:
          return "";
      }
    },

    templates() {
      return this.$store.getters["templates/templates"];
    },

    sources() {
      return this.$store.getters["sources/sources"];
    },

    finishReady() {
      let disable = true;
      if (this.currentStep === 3) {
        // filter 1: check for tagID not empty.
        const emptyTagID = this.templates.find((tp) => {
          return tp.identifier.source === "" || tp.identifier.sourceKey === "";
        });
        if (emptyTagID) {
          disable = true;
        } else {
          // check if all macros on all templates have empty values
          this.templates.forEach((tpl) => {
            if (tpl.macros.length > 0) {
              const found = tpl.macros.find((m) => {
                return (
                  m.macroName === "" ||
                  m.replaceWith.sourceKey === "" ||
                  m.replaceWith.sourceName === ""
                );
              });

              if (found) {
                disable = true;
              } else {
                disable = false;
              }
            } else {
              disable = true;
            }
          });
        }
      }
      return disable;
    },
  },

  methods: {
    onBlockNext(payload) {
      this.shouldBlockNext = payload;
    },

    addItem() {
      switch (this.currentStep) {
        case 1:
          this.$store
            .dispatch("templates/addSingle")
            .then(() => {
              return;
            })
            .catch(() => {});
          break;
        case 2:
          break;
        case 3:
          break;
        default:
          break;
      }
    },

    goNext() {
      if (this.currentStep === 2) {
        this.$store.dispatch("templates/setMacros").then(() => {});
      }

      if (this.currentStep >= 1 && this.currentStep < 3) {
        this.currentStep += 1;
      }
      return;
    },

    goBack() {
      if (this.currentStep >= 2 && this.currentStep <= 3) {
        this.currentStep -= 1;
      }
      return;
    },

    onFileUploaded(evt) {
      this.$store.dispatch("sources/reset").then(() => {
        if (evt.target.files.length > 0) {
          evt.target.files.forEach((file) => {
            let ext = file.name.substring(file.name.lastIndexOf(".") + 1);
            let fileName = file.name.split("." + ext)[0];

            if (ext === "csv") {
              utils
                .parseCSV(file)
                .then((csvData) => {
                  const payload = {
                    name: fileName,
                    data: csvData,
                  };
                  this.$store
                    .dispatch("sources/addSingle", payload)
                    .then(() => {});
                })
                .catch(() => {});
            } else {
              utils
                .parseExcel(file)
                .then((excelData) => {
                  const payload = {
                    name: fileName,
                    data: excelData,
                  };
                  this.$store
                    .dispatch("sources/addSingle", payload)
                    .then(() => {});
                })
                .catch(() => {});
            }
          });
          this.$refs.fileUploader.value = null;
        }
        return;
      });
    },

    handleFileUpload() {
      if (this.currentStep === 2) {
        this.$refs.fileUploader.click();
      }
    },

    generateTags() {
      const zipper = new JSZIP();
      this.templates.forEach((tpl) => {
        const rootFolder = tpl.name;
        const sourceName = tpl.identifier.source;
        const tagID = tpl.identifier.sourceKey;

        // let creativeMarkup = tpl.content;

        const rootSource = this.sources.find((src) => {
          return src.name === sourceName;
        });

        rootSource.data.forEach((record) => {
          const fileName = record[tagID];
          let creativeMarkup = tpl.content;

          // start looking for records of our macros
          tpl.macros.forEach((macro) => {
            const dataSet = this.sources.find((s) => {
              return s.name === macro.replaceWith.sourceName;
            });

            if (dataSet) {
              const register = dataSet.data.find((r) => {
                return r[tagID] == fileName;
              });
              creativeMarkup = creativeMarkup.replace(
                macro.macroName,
                register[macro.replaceWith.sourceKey]
              );
            }
          });
          zipper.file(rootFolder + "/" + fileName + ".txt", creativeMarkup);
        });
      });
      zipper.generateAsync({ type: "blob" }).then((zipped) => {
        saveAs(zipped, "tags.zip");
      });
    },
  },

  components: {
    Step1,
    Step2,
    Step3,
  },
};
</script>