<template>
  <v-app>
    <v-app-bar
      app
      color="#0daac3"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Gumgum logo"
          class="shrink mr-2"
          contain
          src="https://gumgum-design-system.s3.amazonaws.com/mark.svg"
          transition="scale-transition"
          width="40"
        />
        <div class="text-h5" v-text="'Programmatic Tag Generator'"></div>
      </div>

      <v-spacer></v-spacer>

      <div class="text-h5" v-text="'Dev: RRL - Hackathon 2021'"></div>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
